<h3>Welcome to Post forum</h3>

<br>

<div>
<% @posts.each do |post| %>
  <div class="post_container">
    <p>
      <%= post.title%>, <strong>by</strong> <%= post.get_author(post).email %>
    </p>
    <p>
      <%= link_to "Comments", post %>
      <% if can_edit?(post) %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: "Sure?"} %>
      <% else %>

      <% end %>

    </p>
  </div>
<% end %>
</div>
