<p>

</p>

<p>
  <%= link_to "All Posts", root_path %>
</p>

<h3>Title</h3>
<p>
  <%= @post.title %>, <strong>by</strong> <%= @author.email %>
</p>

<h3>Text</h3>
<p>
  <%= @post.text%>
</p>

<%= link_to "Add Comment", new_comment_path %>

<div class="comments_container">
  <h3>Comments</h3>



</div>

<!-- Comments here -->
