<p>

</p>

<p>
  <%= link_to "All Posts", root_path %>
</p>

<div class="post_container">

<h3>Title</h3>
<p>
  <%= @post.title %>, <strong>by</strong> <%= @author.email %>
</p>

<h3>Text</h3>
<p>
  <%= @post.text%>
</p>

</div>

<h2>Add comment</h2>

<div>

  <%= form_for([@post, @post.comments.build]) do |f| %>

    <p>
      <%= f.label :text %>
      <%= f.text_area :text%>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>

</div>

<div class="comments_container">
  <h3>Comments</h3>

  <% if @post.comments.count >= 1 %>

    <% @post.comments.each do |comment| %>
      <div>

        <% unless comment.text.nil? %>

          <%= comment.user.email %> said => <%= comment.text %>

        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>
      No comments yet
    </p>
  <% end %>


</div>
